<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인 페이지</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

</head>

<body>


	<div class="container">
		<div class="login_box">
			<h1>
				<img src="images/nocolorlogo.png" alt="">
			</h1>
			<div class="form_box">
				<form action="" >
					<ul>
						<li>
							<input type="text" name="uesrid" class="userid" placeholder="이메일">
						</li>
						<li>
							<input type="password" name="passwd" class="passwd" placeholder="비밀번호">
						</li>
						<li>
							<button type="submit" class="noto">로그인</button>
						</li>
					</ul>
				</form>
			</div>
			<div class="find_wrap">
				<ul>
					<li>회원가입</li>
				</ul>
				<ul>
					<li>
						<a href="" class="find_text noto">아이디 찾기</a>
					</li>
					<span>/</span>
					<li>
						<a href="" class="find_text noto">비밀번호 찾기</a>
					</li>
				</ul>
			</div>
	
			<div class="login_text noto">
				<p>M.S.P 홈페이지</p>
			</div>

		</div>

		
	</div>
</body>

</html>