<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>회원가입 페이지 > ajax</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<form>
		<ul>
			<li>
				<lable>이메일</lable>
				<input type="text" class="email">
			</li>
			<li>
				<lable>비밀번호</lable>
				<input type="password" class="passwd">
			</li>
			<li>
				<button class="btn">회원가입</button>
			</li>
		</ul>
	</form>

	<script>

		let btn = document.querySelector(".btn");

		btn.addEventListener('click', (e) => {
			e.preventDefault();

			let emailValue = document.querySelector(".email").value;
			let passwdValue = document.querySelector(".passwd").value;

			let obj = {
				email: emailValue,
				passwd: passwdValue
			}

			$.ajax({
				type: "post",
				url: "/users/register",
				dataType: "json",
				data: obj,
				success: function(result) {

<!--					document.querySelector(".email").value = "";-->
<!--					document.querySelector(".passwd").value = "";-->
<!--					alert(result.msg);-->
<!--					document.querySelector(".email").focus(); -->
<!--					{} - > for in-->
<!--					[] - > for each-->

					if( result.status == "200" ) {
						alert(result.msg);
					}

					for(let res in result){
						console.log(`키 : ${res} 값 : ${result[res]}`);
					}

				}

			});
		});

	</script>

</body>
</html>